<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<cache:annotation-driven />

	<task:scheduled-tasks scheduler="weatherScheduler">
		<task:scheduled ref="schedulerBean" method="runWeatherUpdate"
			fixed-delay="10800000" />
	</task:scheduled-tasks>

	<task:scheduler id="weatherScheduler" pool-size="10" />

	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					name="weather" />
			</set>
		</property>
	</bean>

	<bean id="service" class="com.tieto.weatherservice.services.WeatherServiceImpl">
		<property name="restTemplate" ref="restTemplate"></property>
	</bean>
	
	<bean id="schedulerBean" class="com.tieto.weatherservice.WeatherScheduler">
		<property name="ws" ref="service"></property>
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
					<property name="marshaller" ref="jaxb2Marshaller" />
					<property name="unmarshaller" ref="jaxb2Marshaller" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="packagesToScan">
			<list>
				<value>com.tieto.weatherservice</value>
			</list>
		</property>
		<property name="schema" value="/WEB-INF/wunderground.xsd" />
	</bean>

</beans>